{% extends 'analysietta/base.html' %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block css %}
 	<link rel="stylesheet" type="text/css" href="{%  static 'analysietta/styles/index.css' %}">
{% endblock %}

{% block header %}
    <h2>Analysietta</h2>
    <button type="button" class="btn btn-primary authorization" data-toggle="modal" data-target="#exampleModal">
        <table>
            <tr><td><span>ВОЙТИ</span></td><td><img src="{%  static 'analysietta/images/Authorization.png' %}"></td></tr>
        </table>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <img id="bcg5" src="{%  static 'analysietta/images/background-5.png' %}">
                <img id="bcg6" src="{%  static 'analysietta/images/background-6.png' %}">
                <center class="head">Analysietta</center>
                <center>
                    <form action="/register/" method="post">
                        {% csrf_token %}
                        <input class="form-control inp" type="email" name="email" placeholder="Эл. почта"><br>
                        <input class="form-control inp" type="password" name="password" placeholder="Пароль"><br>
                        <input class="but" type="submit" value="ВХОД">
                    </form>
                </center>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
 	<div class="white_rectangle" id="first_white_rectangle"></div>
 	<div class="white_rectangle"></div>
 	<div class="white_rectangle"></div>
 	<div class="white_rectangle"></div>
 	<div class="line"></div>
 	<div class="title_courses">Курсы валют:</div>
 	<div class="currency">
 		<div class="symbol"><img src="{%  static 'analysietta/images/Dollar.png' %}"></div>
 		<img class="course" src="{%  static 'analysietta/images/course-1.png' %}">
 	</div>
 	<div class="currency" id="currency_euro">
 		<div class="symbol"><img src="{%  static 'analysietta/images/Euro.png' %}"></div>
 		<img class="course" src="{%  static 'analysietta/images/course-2.png' %}">
 	</div>
 	<div class="background">
 		<img id="bcg1" src="{%  static 'analysietta/images/background-1.png' %}">
 		<img id="bcg2" src="{%  static 'analysietta/images/background-2.png' %}">
 		<img id="bcg3" src="{%  static 'analysietta/images/background-3.png' %}">
 		<img id="bcg4" src="{%  static 'analysietta/images/background-4.png' %}">
 	</div>
{% endblock %}
