@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}

body{
	background-color: #E5E5E5;
	font-family: Roboto;
}
#bcg3{
	z-index: -10;
	position: absolute;
	width: 12%;
	bottom: 0;
	left: 0;
}
#bcg2{
	z-index: -10;
	position: absolute;
	width: 18%;
	left: 41%;
	bottom: 4%;
}
#bcg1{
	z-index: -10;
	position: absolute;
	width: 20%;
	left: 45%;
	top: 0;
}
#bcg4{
	z-index: -10;
	position: absolute;
	width: 6%;
	right: 0;
	top: 15%;
}
header{
	height: 140px;
}
h2{
	float: left;
	font-family: Roboto;
	font-weight: 600;
	font-size: 40px;
	color: #12D4FF;
	margin-top: 25px;
	margin-left: 92px;
}
.authorization{
	border-color: transparent;
	margin-top: 20px;
	background: #FFFFFF;
	border-radius: 107px;
	float: right;
	font-family: Roboto;
	margin-right: 40px;
	cursor: pointer;
}
.authorization:hover
{
	background-color: white;
	border-color: transparent;
}
.authorization:focus
{
	background-color: white;
	border-color: transparent;
}
.authorization:active
{
	background-color: white;
	border-color: transparent;
}
.authorization span{
	font-weight: 600;
	vertical-align: middle;
	margin: 10px;
	font-size: 23px;
	margin-left: 20px;
	color: black;
}
.authorization img{
	height: 35px;
	margin: 1px;
	display: inline-block;
}
.white_rectangle{
	border-radius: 26px;
	width: 20%;
	height: 120px;
	margin-left: 2.5%;
	background-color: white;
	display: inline-block;
}
#first_white_rectangle{
	margin-left: 5%;
}
.line{
	border-bottom: 2px solid #989898;
	height: 0;
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
}
.title_courses{
	font-family: Roboto;
	font-weight: 600;
	font-size: 24px;
	
	color: #006BA7;
	margin-left: 5%;
	margin-top: 20px;
}
.currency{
	margin-top: 20px;
	margin-left: 5%;
	background: #FFFFFF;
	border-radius: 25px;
	display: inline-block;
}
.course{
	margin-top: 30px;
	margin-left: 10px;
	display: inline-block;
}
.symbol{
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 107px;
	width: 72px;
	height: 72px;
}
.symbol img{
	margin-left: 22px;
	margin-top: 17px;
}
#currency_euro{
	float: right;
	margin-right: 5%;
	margin-left: 5px;
}
#currency_euro 
.symbol img{
	margin-left: 17px;
	margin-top: 21px;
}

.modal-content{
	width: 500px;
	height: 500px;
	z-index: -2;
	background: #FFFFFF;
	border-radius: 60px;
}
#bcg5{
	width: 330px;
	position: absolute;
	right: -1px;
	top: -1px;
	border-radius: 60px;
	z-index: -1;
}
#bcg6{
	width: 220px;
	position: absolute;
	left: -1px;
	bottom: -1px;
	border-radius: 60px;
	z-index: -10;
}
.head{
	font-family: Roboto;
	font-weight: 600;
	font-size: 40px;
	color: #12D4FF;
	margin-bottom: 50px;
}
.inp{
	width: 230px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border-color: transparent;
	padding-left: 10px;
	margin-top: 20px;
}
.but{
	width: 170px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
	border-radius: 107px;
	margin-top: 30px;
	color: #000000;
	height: 40px;
	border-color: transparent;
}


@media (min-width: 1356px){

	.currency{
		width: 600px;
		height: 300px;
	}
	.course{
		height: 250px;
	}
}
@media(max-width: 1355px) and (min-width: 1182px){
	.currency{
		width: 520px;
		height: 250px;
	}
	.course{
		height: 200px;
	}
}

@media(max-width: 1181px) and (min-width: 1024px){
	.currency{
		width: 450px;
		height: 200px;
	}
	.course{
		height: 150px;
	}
}
@media(max-width: 1023px){
	.currency{
		width: 390px;
		height: 150px;
	}
	.course{
		height: 100px;
	}
}
